## .NET
bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.vspscc
*.vssscc

## Rider / VS Code
.idea/
.vscode/

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Segredos / configs locais (adicione aqui se colocar senha real futuramente)
# appsettings.Development.json
# appsettings.Local.json
secrets.json
*.pfx

## SQL Server local
*.mdf
*.ldf
*.ndf

## Sistema operacional
.DS_Store
Thumbs.db
